# Application Configuration
PORT=3000
NODE_ID=Node_Local

# Database Configuration
DB_USER=root
DB_PASSWORD=root_password
DB_NAME=product_db

# Master Database (WRITE Operations)
DB_MASTER_HOST=localhost
DB_MASTER_PORT=3308

# Slave Database (READ Operations)
DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=3309
